.roof-logo {
    color: $accent-color;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}
.roof-multi {
    color: $black-color;
}
.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none ;
    background-color: transparent;
    @media screen and (min-width: 768px) {
       display: none; 
    }

}
.menu-button .icon-cross {
    display: none;
}
.menu-button.is-open .icon-cross {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}
.menu-conteiner {

   background-color: $white-color;
   padding: 48px 40px;
   &.is-open {
    display: block;
   }
   @media screen and (max-width: 767px) {
    position: absolute; 
    top: 100%;
    left: 0%;
    width: 100%;
    display: none;
   }
}