.clients {
    @extend %list;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 30px;

    
}
.hope {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #AFB1B8;
    transition: color 250ms $timing-function;
    &:hover {
            color: $accent-color;}
}

.hope {
@media screen and (max-width: 767px){
    width: 210px;}
}
.hope {
@media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 226px;
    }
}

.logo {
    fill: currentColor;
    transition: fill 250ms $timing-function;
    &:hover {
            fill: $accent-color;
        }
}
.fichion {
    padding-top: 60px;
    padding-bottom: 60px;
}
.science {
@extend %conteiner;
}